@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <title>ProgressBarExample</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script>
        $( document ).ready(function() {
            $("#ImportBtn").click( 
                function() {
                // Стартуем длительный процесс
                $.ajax({
                    url: "/Home/ImportFile",
                    type: "POST",
                    success: function(data){
                        alert("Окончание вычислительного процесса на сервере");
                    }
                });
                
                // Опрашиваем сервер, чтобы отслеживать
                setInterval(
                    function () {
                        $.ajax({
                            url: "/Home/GetProgress",
                            type: "POST",
                            success: function(data){
                                if( data != null)
                                    alert( "Прибыли данные: " + data );
                                else
                                    alert( "Данные недоступны");
                            }
                        });
                    }, 500);
            });
        });
    </script>
</head>
<body>
    <div>
        <button id="ImportBtn">Начало длительной оперции</button>
        <progress max="100" value="25"></progress>
    </div>
</body>