@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <title>ProgressBarExample</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script>
        $( document ).ready(function() {
            $("#ImportBtn").click( 
                function() {
                // Стартуем длительный процесс
                $.ajax({
                    url: "/Home/ImportFile",
                    type: "POST",
                    success: function(data){
                        //alert("Окончание вычислительного процесса на сервере");
                    }
                });
                
                // Опрашиваем сервер, чтобы отслеживать
                var timerId = setInterval(
                    function () {
                        $.ajax({
                            url: "/Home/GetProgress",
                            type: "POST",
                            dataType: "json",
                            success: function(data){
                                if( data != null)
                                {
                                    $("#pg_progress").val(data.Percentage);
                                    // Останваливаем отслеживание по завершению задачи
                                    if(data.IsComplete == '1')
                                        clearInterval(timerId);
                                }
                                else
                                    alert( "Данные недоступны");
                            }
                        });
                    }, 500
                );
            });
        });
    </script>
</head>
<body>
    <div >
        <button class="btn btn-default" id="ImportBtn" style="width: 200px">Начало длительной оперции</button>
        <br/>
        <progress id="pg_progress" max="100" value="0" style="width: 200px"></progress>
    </div>
</body>