@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <title>ProgressBarExample</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script>
        $( document ).ready(function() {
            $("#ImportBtn").click( function() {
                alert("Начало продолжительной операции на сервере," +
                 " запуск процесса отслеживания прогресса."); 
            });
        });
    </script>
</head>
<body>
    <div>
        <button id="ImportBtn">Начало длительной оперции</button>
        <progress max="100" value="25"></progress>
    </div>
</body>